.hobby {
    position: relative;
    background: linear-gradient(180deg, #f89603, #f86a03 56.25%, #f85b03);
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    color: var(--neutrals1);
    font-size: var(--subtitle-1-size);
    font-family: "roboto", sans-serif;
    z-index: 0;
  }

/* .part-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
}

.header-text {
    position: absolute;
    top: 30px;
    left: 65px;
    display: inline-block;
    width: fit-content;
    height: 30px;
    color: var(--neutrals1);
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);
    font-size: var(--h4-size);
    font-family: "roboto",sans-serif;
} */

.group-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary);
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 140px;
}

.back-button {
    position: absolute;
    height: 29px;
    width: 30px;
    top: 40px;
    left: 15px;
    max-height: 100%;
}

.noti-button-icon {
    position: absolute;
    top: 30px;
    right: 25px;
    width: 45px;
    height: 45px;
}

.body-background {
    position: absolute;
    border-radius: 25px;
    background-color: #fff;
    top: 0px;
    left: 22px;
    width: 316px;
    height: 650px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
}

.part-body {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
    height: 660px;
    text-align: left;
    font-size: var(--button-size);
    color: var(--neutrals2);
    z-index: 1;
}

.tdot-button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 36px;
    height: 24px;
    cursor: pointer;
}

.profile-picture {
    position: absolute;
    top: 38px;
    left: 101px;
    border-radius: 100%;
    outline-style: solid;
    outline-color: var(--color-black);
    outline-width: 1px;
    background-color: var(--neutrals1);
    width: 114px;
    height: 114px;
}

.profile-name {
    position: absolute;
    height: 24px;
    top: 184px;
    font-size: 60px;
    display: inline-block;
    text-align: center;
    width: 316px;
    font-size: var(--h5-size);
}

.profile-fn {
    position: absolute;
    top: 244px;
    left: 20px;
    font-size: var(--h6-size);
    display: inline-block;
    width: 216px;
    height: 24px;
}

.profile-fullname {
    position: absolute;
    top: 244px;
    left: 60px;
    font-size: var(--h6-size);
    display: inline-block;
    width: 216px;
    height: 24px;
}

.profile-em {
    position: absolute;
    top: 284px;
    left: 20px;
    font-size: var(--h6-size);
    display: inline-block;
    width: 216px;
    height: 24px;
}

.profile-email {
    position: absolute;
    top: 284px;
    left: 85px;
    font-size: var(--h6-size);
    display: inline-block;
    width: 216px;
    height: 24px;
}

.profile-tel {
    position: absolute;
    top: 324px;
    left: 20px;
    font-size: var(--h6-size);
    display: inline-block;
    width: 216px;
    height: 24px;
}

.profile-telephone {
    position: absolute;
    top: 324px;
    left: 107px;
    font-size: var(--h6-size);
    display: inline-block;
    width: 216px;
    height: 24px;
}

.profile-fac {
    position: absolute;
    top: 364px;
    left: 20px;
    font-size: var(--h6-size);
    display: inline-block;
    width: 216px;
    height: 24px;
}

.profile-faculty {
    position: absolute;
    top: 364px;
    left: 97px;
    font-size: var(--h6-size);
    display: inline-block;
    width: 216px;
    height: 24px;
}

.label-aboutme {
    position: absolute;
    top: 404px;
    left: 20px;
    font-size: var(--h6-size);
    display: inline-block;
    width: 216px;
    height: 24px;
}

.box-aboutme {
    position: absolute;
    top: 439px;
    left: 29px;
    border-radius: 20px;
    background-color: var(--neutrals1);
    width: 220px;
    height: 140px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-aboutme {
    word-wrap: break-word;
    overflow: hidden;
    position: absolute;
    display: inline-block;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    font-size: var(--subtitle-1-size);
}

 
.a1 {
    width: 35px;
    height: 35px;
  }
  
  .HEADER {
    top: 0;
    left: 0;
    border-radius: 0 0 var(--br-mini) var(--br-mini);
    background-color: var(--primary);
    box-shadow: 3px 5px 0 rgba(0, 0, 0, 0.25);
    height: 140px;
    position: relative;
    width: 100%;
    z-index: 1;
  }
  
  .app-icon {
    top: 33px;
    left: 30px;
    width: 35px;
    height: 35px;
    object-fit: cover;
    cursor: pointer;
    position: absolute;
  }
  
  .name-header {
    font-size: 34px;
    top: 25px;
    left: 75px;
    display: inline-block;
    width: 200px;
    height: 40px;
    text-shadow: 2.5px 5px 0 rgba(0, 0, 0, 0.25);
    color: var(--neutrals1);
    -webkit-text-stroke: 1px var(--neutrals1);
    position: absolute;
  }
  
  .noti-button-icon {
    position: absolute;
    top: 25%;
    left: 85%;
  }
  
  /* Default styles */
  .noti-button-icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutrals1);
    background: var(--accent);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    box-shadow: 3px 5px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
  }
  
  .noti-button-icon ion-icon {
    font-size: 1em; /* Adjust the size as needed */
  }
  /* Media query for smaller screens */
  
  @media only screen and (min-width: 320px) {
  
  
     .app-icon {
        top: 30%;
        left: 5%;
        height: 35px;
        width: 35px;
    }
  
    .name-header {
      top: 25%;
      left: 20%;
      width: auto;
      height: auto;
      font-size: 1em;
    }
  
    .noti-button-icon {
      top: 25%;
      right: 1%;
    }
  
    .body-background {
      left: 1%;
    }
  
  
  }
  @media only screen and (min-width: 360px) {
  
  
    .app-icon {
        top: 27%;
        left: 5%;
        height: 35px;
        width: 35px;
    }
  
    .name-header {
      top: 27%;
      left: 25%;
      width: auto;
      height: auto;
      font-size: 1em;
    }
  
    .noti-button-icon {
      top: 25%;
      right: 5%;
    }
    .body-background{
      left: 6%;
    }
  }
  
  @media only screen and (min-width: 425px) {
  
  
    .app-icon {
        top: 27%;
        left: 5%;
        height: 35px;
        width: 35px;
    }
  
    .name-header {
      top: 27%;
      left: 27%;
      width: auto;
      height: auto;
      font-size: 1em;
    }
  
    .noti-button-icon {
      top: 25%;
      right: 5%;
    }
    .body-background{
      left: 17%;
    }
  }
  
  @media only screen and (min-width: 768px) {
  
  
    .app-icon {
        top: 27%;
        left: 5%;
        height: 35px;
        width: 35px;
    }
  
    .name-header {
      top: 27%;
      left: 37%;
      width: auto;
      height: auto;
      font-size: 1em;
    }
  
    .noti-button-icon {
      top: 25%;
      right: 5%;
    }
  
    .body-background{
      left: 30%;
    }
  
  }