.hobby {
    position: absolute;
    background: linear-gradient(180deg, #f89603, #f86a03 56.25%, #f85b03);
    width: 360px;
    height: 800px;
    overflow: scroll;
    text-align: center;
    color: var(--neutrals1);
    font-size: var(--subtitle-1-size);
    font-family: "roboto", sans-serif;
  }

.part-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 140px;
}

.header-text {
    position: absolute;
    top: 30px;
    left: 65px;
    display: inline-block;
    width: fit-content;
    height: 30px;
    color: var(--neutrals1);
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);
    font-size: var(--h4-size);
    font-family: "roboto",sans-serif;
}

.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--primary);
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.25);
    width: 360px;
    height: 140px;
}

.back-button {
    position: absolute;
    height: 29px;
    width: 30px;
    top: 40px;
    left: 15px;
    max-height: 100%;
}

/* .noti-button-icon {
    position: absolute;
    top: 30px;
    right: 25px;
    width: 45px;
    height: 45px;
} */

.noti-button-icon {
    position: absolute;
    top: 25px;
    left: 292px;
    z-index: 1;
}

.noti-button-icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutrals1);
    background: var(--accent);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    box-shadow: 3px 5px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
    font-size: 1.7em;
    cursor: pointer;
}

.body-background {
    position: absolute;
    border-radius: 50px;
    background-color: #fff;
    top: 50px;
    left: 22px;
    width: 316px;
    height: 650px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
}

.part-body {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 360px;
    height: 660px;
    text-align: left;
    font-size: var(--button-size);
    color: var(--neutrals2);
}

.app-logo {
    position: absolute;
    top: 38px;
    left: 101px;
    border-radius: 100%;
    outline-style: solid;
    outline-color: var(--color-black);
    outline-width: 1px;
    background-color: var(--neutrals1);
    width: 114px;
    height: 114px;
}

.app-name {
    position: absolute;
    height: 24px;
    top: 40px;
    left: 30px;
    font-size: 60px;
    display: inline-block;
    width: 316px;
    font-size: var(--h4-size);
}

.version-label {
    position: absolute;
    top: 52px;
    left: 130px;
    font-size: var(--h6-size);
    display: inline-block;
    width: 216px;
    height: 24px;
}

.version-description {
    position: absolute;
    top: 100px;
    left: 30px;
    font-size: var(--subtitle-1-size);
    display: inline-block;
    width: 260px;
    height: 24px;
}
