.container-icon,

.container-icon {
  height: 100%;
  top: 0;
}

.div {
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
}

.setting-head {
  background-color: var(--primary);
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.25);
  width: 360px;
  height: 141px;
}

.account {
  position: absolute;
  top: 4.25%;
  left: 20%;
  font-size: var(--h4-size);
  color: var(--color-gainsboro);
  text-align: center;
  text-shadow: 3px 5px 0 rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #d9d9d9;
}
.setting-inner,
.setting-item {
  position: absolute;
  top: 39px;
  left: 16px;
  width: 33px;
  height: 34px;
}
.setting-inner {
  top: 108px;
  left: 22px;
  border-radius: 50px;
  background-color: var(--color-gainsboro);
  box-shadow: 3px 5px 0 rgba(0, 0, 0, 0.25);
  width: 316px;
  height: 584px;
}

.about-account-parent {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 316px;
  height: 40px;
  cursor: pointer;
}

.about-account-text {
  position: relative;
  top: -5px;
  left: 75px;
  height: 30px;
  width: 150px;
  display: inline-block;
  font-size: var(--h6-size);
  color: var(--color-black);
}

.about-account-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 7px;
  left: 26px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.edit-mypost-parent {
  position: absolute;
  height: 40px;
  width: 316px;
  top: 80px;
  left: 0px;
  cursor: pointer;
}

.edit-mypost-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 0px;
  left: 28px;
}

.edit-mypost-text {
  top: 5px;
  position: absolute;
  left: 75px;
  display: inline-block;
  width: 150px;
  height: 30px;
  font-size: var(--h6-size);
  color: var(--color-black);
}

.language-parent {
  position: absolute;
  top: 130px;
  left: 0px;
  width: 316px;
  height: 40px;
  cursor: pointer;
}

.language-text {
  position: absolute;
  top: 5px;
  left: 75px;
  display: inline-block;
  width: 150px;
  height: 30px;
  font-size: var(--h6-size);
  color: var(--color-black);
}

.language-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 5px;
  left: 25px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.notification-parent {
  position: relative;
  height: 40px;
  width: 316px;
  top: 180px;
  left: 0px;
  font-family: var(--font-inter);
  cursor: pointer;
}

.notification-text {
  position: absolute;
  height: 30px;
  width: 150px;
  top: 5px;
  left: 75px;
  display: inline-block;
  font-size: var(--h6-size);
  color: var(--color-black);
}

.notification-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 5px;
  left: 25px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.setting-parent {
  position: absolute;
  height: 40px;
  width: 316px;
  top: 230px;
  left: 0px;
  cursor: pointer;
}

.setting-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 5px;
  left: 25px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.setting-text {
  position: absolute;
  top: 5px;
  left: 75px;
  display: inline-block;
  width: 150px;
  height: 30px;
  font-size: var(--h6-size);
  color: var(--color-black);
}

.about-app-parent {
  position: absolute;
  top: 280px;
  left: 0px;
  width: 316px;
  height: 40px;
  cursor: pointer;
}

.about-app-text {
  position: relative;
  top: -5px;
  left: 75px;
  display: inline-block;
  width: 150px;
  height: 30px;
  font-size: var(--h6-size);
  color: var(--color-black);
}

.about-app-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 5px;
  left: 26px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.noti-button-icon {
  position: absolute;
  top: 37px;
  left: 292px;
  width: 38px;
  height: 40px;
  cursor: pointer;
}
/* 
.setting {
  position: relative;
  left: 40%;
  right: 60%;
  background: linear-gradient(180deg, #f89603, #f86a03 56.25%, #f85b03);
  width: 360px;
  height: 800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--h6-size);
  color: var(--neutrals2);
  font-family: var(--h6);
} */