.createGroupButton {
    position: absolute; 
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    top: 640px; /* Adjust the top value as needed */
    left: 285px; /* Adjust the left value as needed */

    z-index: 1;
    box-shadow: 8px 2px 12px rgba(0, 0, 0, 0.3);
}

.createGroupButton img {
    width: 30px;
    height: 30px;
    z-index: 1;
}