.inner-background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: var(--basecolor-white);
  border: 3px solid #ff0101;
  box-sizing: border-box;
  width: 313px;
  height: 1023px;
}
.create-background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--accent);
  width: 136.45px;
  height: 48px;
}
.div {
  position: absolute;
  top: 14px;
  left: 36px;
  text-transform: uppercase;
  display: inline-block;
  width: 65px;
}
.cancle-background,
.create {
  position: absolute;
  top: 0;
  left: 0;
  width: 136.45px;
  height: 48px;
}
.cancle-background {
  border-radius: var(--br-8xs);
  background-color: var(--neutrals1);
}
.div1 {
  position: absolute;
  top: 14px;
  left: 34.45px;
  text-transform: uppercase;
  display: inline-block;
  width: 66px;
}
.cancle,
.create-cancle {
  position: absolute;
  top: 0;
  left: 155.55px;
  width: 136.45px;
  height: 48px;
}
.create-cancle {
  top: 948px;
  left: 11px;
  width: 292px;
  text-align: center;
}
.tag-show {
  position: absolute;
  top: 737px;
  left: 21px;
  border-radius: var(--br-8xs);
  background-color: var(--basecolor-white);
  border: 1px solid var(--neutrals2);
  box-sizing: border-box;
  width: 270px;
  height: 174px;
}
.tag-background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  background-color: var(--neutrals1);
  box-shadow: 3px 5px 0 rgba(0, 0, 0, 0.25);
  width: 118px;
  height: 30px;
}
.add-tag {
  top: 7px;
  left: 45px;
  display: inline-block;
  width: 55px;
  height: 16px;
}
.add-tag,
.plus-icon,
.tag {
  position: absolute;
}
.plus-icon {
  height: 72.37%;
  width: 16.95%;
  top: 13.33%;
  right: 73.73%;
  bottom: 14.3%;
  left: 9.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.tag {
  top: 689px;
  left: 21px;
  width: 118px;
  height: 30px;
  font-size: var(--caption-size);
}
.detail-input {
  position: absolute;
  top: 5px;
  left: 4.96px;
  display: inline-block;
  width: 260px;
  height: 100px;
}
.detail-background {
  position: absolute;
  top: 0;
  left: -0.02px;
  border-radius: var(--br-8xs);
  border: 1px solid var(--neutrals2);
  box-sizing: border-box;
  width: 270px;
  height: 110px;
}
.detail-inner {
  top: 20px;
  left: 0;
  width: 270px;
  height: 110px;
}
.detail,
.detail-inner,
.title {
  position: absolute;
}
.title {
  height: 16px;
  width: 80px;
  top: 0;
  left: 0;
  text-transform: capitalize;
  color: var(--neutrals2);
  display: inline-block;
}
.detail {
  top: 522px;
  left: 19px;
  width: 270px;
  height: 130px;
  font-size: var(--caption-size);
  color: var(--neutrals1);
}
.upload-file-background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--accent);
  width: 200px;
  height: 49.3px;
}
.upload-file-text {
  position: absolute;
  top: 15.4px;
  left: 62.86px;
  text-transform: uppercase;
  display: inline-block;
  width: 114.29px;
  height: 19.51px;
}
.upload-icon {
  position: absolute;
  height: 73.33%;
  width: 22.92%;
  top: 10%;
  right: 73.08%;
  bottom: 16.67%;
  left: 4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.title1,
.uoload-file-input {
  position: absolute;
  top: 20.7px;
  left: 0;
  width: 200px;
  height: 49.3px;
}
.title1 {
  height: 16px;
  width: 80px;
  top: 0;
  font-size: var(--caption-size);
  text-transform: capitalize;
  text-align: left;
  display: inline-block;
}
.upload-file {
  position: absolute;
  top: 424px;
  left: 24px;
  width: 200px;
  height: 70px;
  text-align: center;
}
.filter-title {
  position: relative;
}
.filter-icon-background {
  position: relative;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.saakaa-background {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-5xs);
  background-color: var(--basecolor-white);
  border: 1px solid var(--neutrals2);
  box-sizing: border-box;
  width: 262px;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-2xs) var(--padding-lg);
}
.saakaa {
  position: absolute;
  top: 338px;
  left: 24px;
  width: 260px;
  height: 50px;
  font-size: var(--h6-size);
}
.paak-subject-background {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--basecolor-white);
  border: 1px solid var(--neutrals2);
  box-sizing: border-box;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-2xs) var(--padding-lg);
  z-index: 0;
}
.paak-subject {
  width: 83.07%;
  top: calc(50% - 258.5px);
  right: 9.27%;
  left: 7.67%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--h6-size);
}
.kana,
.paak-subject,
.title2 {
  position: absolute;
}
.kana {
  width: 83.07%;
  top: calc(50% - 324.5px);
  right: 9.27%;
  left: 7.67%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--h6-size);
}
.title2 {
  top: 0;
  left: 0;
  text-transform: capitalize;
}
.subject-code-background {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 135px);
  border-radius: var(--br-8xs);
  border: 1px solid var(--neutrals2);
  box-sizing: border-box;
  width: 270px;
  height: 50px;
}
.subject-code-input {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 130px);
  display: inline-block;
  width: 260px;
  height: 40px;
}
.subject-code-inner {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 135px);
  width: 270px;
  height: 50px;
  font-size: var(--body-2-size);
  color: var(--neutrals1);
}
.subject-code {
  position: absolute;
  top: 95px;
  left: 19px;
  width: 270px;
  height: 68px;
  font-size: var(--caption-size);
}
.subject-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  border: 1px solid var(--neutrals2);
  box-sizing: border-box;
}
.subject-inner {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 135px);
  width: 270px;
  height: 50px;
}
.title3 {
  top: 0;
  left: 0;
  font-size: var(--caption-size);
  text-transform: capitalize;
  color: var(--neutrals2);
}
.inner,
.subject,
.title3 {
  position: absolute;
}
.subject {
  top: 16px;
  left: calc(50% - 137.5px);
  width: 270px;
  height: 68px;
  color: var(--neutrals1);
}
.inner {
  height: 1060px;
  width: 86.94%;
  top: 12.75%;
  right: 6.67%;
  bottom: -40.62%;
  left: 6.39%;
  font-size: var(--body-2-size);
  font-family: var(--subtitle-2);
}

.background {
  position: relative;
  background: linear-gradient(180deg, #f89603, #f86a03 56.25%, #f85b03);
  width: 360px;
  height: 800px;
  overflow-y: auto;
  text-align: left;
  color: var(--neutrals2);
  &::-webkit-scrollbar {
    width: 0;
}

/* Optional: Customize scrollbar appearance if needed */
&::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0; /* You can adjust this if needed */
}

&::-webkit-scrollbar-track {
    background-color: transparent;
}
}
