.createGroupButton {
    position: fixed; /* Set fixed positioning for the button */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    bottom: 80px; /* Adjust the top value as needed */
    right: 5%; /* Adjust the left value as needed */
    z-index: 100;
    box-shadow: 8px 2px 12px rgba(0, 0, 0, 0.3);
    z-index: 150;
}

.createGroupButton img {
    position: fixed;
    width: 40px;
    height: 40px;
    z-index: 150;
}

.footerIndividual {
    width: fit-content;
    height: fit-content;
    position: fixed;
  }
  