.hobby {
    position: relative;
    background: linear-gradient(180deg, #f89603, #f86a03 56.25%, #f85b03);
    width: 360px;
    height: 800px;
    overflow: hidden;
    text-align: center;
    color: var(--neutrals1);
    font-size: var(--subtitle-1-size);
    font-family: "roboto",sans-serif;
  }

.part-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 360px;
    height: 140px;
}

.header-text {
    position: absolute;
    top: 30px;
    left: 65px;
    display: inline-block;
    width: fit-content;
    height: 30px;
    color: var(--neutrals1);
    text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: var(--h4-size);
    font-family: "roboto",sans-serif;
}

.group-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary);
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.25);
    width: 360px;
    height: 140px;
}

.back-button {
    position: absolute;
    height: 29px;
    width: 30px;
    top: 40px;
    left: 15px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.noti-button-icon {
    position: absolute;
    top: 30px;
    right: 25px;
    width: 45px;
    height: 45px;
}

.body-background {
    position: absolute;
    border-radius: 50px;
    background-color: #fff;
    top: 0px;
    left: 22px;
    width: 316px;
    height: 703px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
}

.part-body {
    position: absolute;
    top: 149px;
    left: 0px;
    width: 360px;
    height: 760px;
    text-align: left;
    font-size: var(--button-size);
    color: var(--neutrals2);
}

.profile-picture {
    position: absolute;
    top: -28px;
    left: 101px;
    border-radius: 100%;
    background-color: var(--neutrals1);
    width: 114px;
    height: 114px;
}

.change-profile-picture {
    position: absolute;
    top: 35px;
    left: 170px;
    border-radius: 100%;
    width: 52px;
    height: 52px;
    cursor: pointer;
}

.profile-na {
    position: absolute;
    height: 24px;
    top: 94px;
    left: 20px;
    font-size: 60px;
    display: inline-block;
    width: 316px;
    font-size: var(--subtitle-1-size);
}

.profile-fn {
    position: absolute;
    top: 154px;
    left: 20px;
    font-size: var(--subtitle-1-size);
    display: inline-block;
    width: 216px;
    height: 24px;
}

.profile-tel {
    position: absolute;
    top: 220px;
    left: 20px;
    font-size: var(--subtitle-1-size);
    display: inline-block;
    width: 216px;
    height: 24px;
}

.label-aboutme {
    position: absolute;
    top: 284px;
    left: 20px;
    font-size: var(--subtitle-1-size);
    display: inline-block;
    width: 216px;
    height: 24px;
}

.display-box-name {
    position: absolute;
    top: 114px;
    width: 316px;
    height: 30px;
}

.display-box-fullname {
    position: absolute;
    top: 178px;
    width: 316px;
    height: 30px;
}

.display-box-telephone {
    position: absolute;
    top: 244px;
    width: 316px;
    height: 30px;
}

.display-box-aboutme {
    position: relative;
    top: 304px;
    width: 316px;
    height: fit-content;
    padding-bottom: 5px;
}

.display-text {
    position: relative;
    display: inline-block;
    word-break: break-all;
    width: 240px;
    height: fit-content;
    top: 4px;
    left: 25px;
    vertical-align: middle;
    text-align: left;
    font-size: var(--h6-size);
}

.display-edit {
    position: absolute;
    width: 15px;
    height: 25px;
    top: 5px;
    right: 20px;
    cursor: pointer;
}

.display-line {
    position: absolute;
    width: 280px;
    bottom: 2px;
    left: 20px;
    border-bottom: 1.5px solid;
    margin-bottom: -1.5px;
    color: var(--neutrals2);
}

.logout-button {
    position: relative;
    top: 320px;
    width: 316px;
    height: 30px;
    cursor: pointer;
}

.delete-button {
    position: relative;
    top: 330px;
    width: 316px;
    height: 30px;
    cursor: pointer;
}

.display-text2 {
    position: relative;
    display: inline-block;
    width: 240px;
    height: 30px;
    top: 4px;
    left: 25px;
    vertical-align: middle;
    text-align: left;
    font-size: var(--h6-size);
    color: var(--error);
}

.display-line2 {
    position: absolute;
    width: 280px;
    top: 28px;
    left: 20px;
    border-bottom: 1px solid;
    margin-bottom: -1px;
    color: var(--neutrals1);
}