.background-inner {
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--basecolor-white);
  width: 327px;
  height: 920px;
}
.NameGroup,
.background-inner,
.PictureGroup {
  position: absolute;
}
.NameGroup {
  height: 7.61%;
  top: 2.39%;
  left: calc(50% - 111.5px);
  font-size: 60px;
  display: inline-block;
  text-align: center;
  width: 220px;
}
.PictureGroup {
  top: 96px;
  left: 64px;
  border-radius: 10px;
  background-color: var(--neutrals1);
  width: 200px;
  height: 200px;
}
.div,
.div1,
.group-child {
  position: absolute;
  top: 0;
  left: 0;
}
.div {
  display: inline-block;
  width: 120px;
  height: 24px;
}
.div1,
.group-child {
  height: 100%;
  width: 100%;
}
.group-child {
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: var(--neutrals1);
  border: 1px solid var(--neutrals2);
  box-sizing: border-box;
}
.div1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ellipse-parent {
  position: relative;
  width: 38px;
  height: 38px;
}
.div4,
.group-parent {
  position: absolute;
  display: flex;
}
.div4 {
  height: 100%;
  top: 0;
  left: calc(50% - 19px);
  align-items: center;
  justify-content: center;
  width: 38px;
}
.group-parent {
  height: 53.33%;
  width: 96.67%;
  top: 46.67%;
  right: 0;
  bottom: 0;
  left: 3.33%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  text-align: center;
}
.parent,
.place-background {
  position: absolute;
  width: 300px;
}
.parent {
  top: 316px;
  left: 8px;
  height: 75px;
  font-size: var(--h6-size);
}
.place-background {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--neutrals1);
  height: 50px;
}
.a,
.place-detail {
  position: absolute;
  left: 5px;
}
.a {
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 40px;
}
.place-detail {
  top: 32px;
  width: 300px;
  height: 50px;
  text-align: center;
}
.div8 {
  top: 0;
  font-size: var(--h6-size);
  display: inline-block;
  width: 76px;
  height: 24px;
}
.div8,
.div9,
.member-background {
  position: absolute;
  left: 0;
}
.member-background {
  top: 0;
  border-radius: var(--br-8xs);
  background-color: var(--neutrals1);
  width: 196px;
  height: 30px;
}
.div9 {
  left:5px;
  top: 5px;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  width: 66px;
  height: 20px;
}
.member-specter-ground,
.vector-icon {
  position: absolute;
  border-radius: var(--br-8xs);
}
.member-specter-ground {
  top: 0;
  left: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
}
.vector-icon {
  height: 50%;
  top: 29.21%;
  bottom: 20.79%;
  left: calc(50% - 7px);
  max-height: 100%;
  width: 15px;
  object-fit: cover;
}
.member-specter {
  position: absolute;
  top: 0;
  left: 166px;
  width: 30px;
  height: 30px;
}
.span {
  color: var(--neutrals2);
}
.txt {
  width: 100%;
}
.div10 {
  position: absolute;
  top: 5px;
  left: 66px;
  text-align: center;
  display: flex;
  align-items: center;
  width: 100px;
  height: 20px;
  color: #7cb518;
}
.time-background,
.member {
  position: absolute;
  top: 92px;
  left: 109px;
  width: 196px;
  height: 30px;
}
.time-background {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--neutrals1);
  width: 100px;
}
.div11,
.div12 {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  align-items: center;
  width: 40px;
  height: 20px;
}
.div12 {
  left: 45px;
  width: 50px;
}
.time {
  position: absolute;
  top: 92px;
  left: 5px;
  width: 100px;
  height: 30px;
}
.detail-background,
.group-container {
  position: absolute;
  top: 407px;
  left: 8px;
  width: 305px;
  height: 122px;
}
.detail-background {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--neutrals1);
  width: 300px;
  height: 135px;
}
.div13 {
  position: absolute;
  top: calc(50% - 62.5px);
  left: 5px;
  display: inline-block;
  width: 290px;
  height: 126px;
}
.div14,
.inner-detail {
  position: absolute;
  top: 32px;
  left: 4px;
  width: 300px;
  height: 135px;
}
.div14 {
  top: 0;
  left: 0;
  font-size: var(--h6-size);
  display: inline-block;
  width: 97px;
  height: 24px;
}
.tag-background,
.detail {
  position: absolute;
  top: 544px;
  left: 8px;
  width: 304px;
  height: 167px;
}
.tag-background {
  top: 32px;
  left: 4px;
  border-radius: var(--br-8xs);
  background-color: var(--neutrals1);
  width: 300px;
  height: 135px;
}
.frame-inner {
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--accent);
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.div15,
.frame-div,
.frame-inner {
  position: absolute;
  width: 80px;
  height: 25px;
}
.div15 {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-div {
  top: calc(50% - 12.5px);
  left: calc(50% - 40px);
}
.frame-wrapper {
  position: absolute;
  top: 67px;
  left: calc(50% - 11px);
  width: 90px;
  height: 35px;
}
.group-child9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--accent);
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.25);
  width: 127px;
  height: 25px;
}
.div16 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.div16,
.group-wrapper,
.rectangle-parent5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 127px;
  height: 25px;
}
.group-wrapper {
  top: 5px;
  left: 5px;
}
.frame-container,
.group-child10 {
  position: absolute;
  top: 67px;
  left: 4px;
  width: 137px;
  height: 35px;
}
.group-child10 {
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--accent);
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.25);
  width: 70px;
  height: 25px;
}
.div17 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.div17,
.frame-wrapper1,
.group-frame,
.group-wrapper1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 25px;
}
.frame-wrapper1,
.group-frame {
  top: 5px;
  left: 5px;
}
.group-frame {
  top: 32px;
  left: 4px;
  width: 80px;
  height: 35px;
}
.group-child11,
.main-text {
  position: absolute;
  top: 0;
  left: 0;
}
.main-text {
  font-size: var(--h6-size);
  text-align: left;
  display: inline-block;
  width: 97px;
  height: 24px;
}
.group-child11 {
  border-radius: var(--br-6xl);
  background-color: var(--accent);
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.25);
  width: 100px;
  height: 25px;
}
.div18 {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div18,
.group-wrapper2,
.rectangle-parent7 {
  position: absolute;
  width: 100px;
  height: 25px;
}
.rectangle-parent7 {
  top: 0;
  left: 0;
}
.group-wrapper2 {
  top: calc(50% - 12.5px);
  left: calc(50% - 50px);
}
.frame-wrapper2,
.frame-wrapper3 {
  position: absolute;
  width: 110px;
  height: 35px;
}
.frame-wrapper2 {
  top: 32px;
  left: 84px;
}
.frame-wrapper3 {
  top: calc(50% - 51.5px);
  left: 194px;
}
.tag {
  position: absolute;
  top: 727px;
  left: 8px;
  width: 304px;
  height: 167px;
  text-align: center;
  font-size: var(--subtitle-2-size);
}
.hobby-child,
.hobby-inner,
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 327px;
  height: 920px;
}
.hobby-child,
.hobby-inner {
  top: 105px;
  left: 16px;
  height: 940px;
}
.hobby-child {
  left: 283px;
  width: 60px;
  height: 45px;
  object-fit: cover;
}
.background {
  position: relative;
  background: linear-gradient(180deg, #f89603, #f86a03 56.25%, #f85b03);
  width: 360px;
  height: 800px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--subtitle-1-size);
  color: var(--neutrals2);
  font-family: var(--subtitle-2);

  &::-webkit-scrollbar {
    width: 0;
}

/* Optional: Customize scrollbar appearance if needed */
&::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0; /* You can adjust this if needed */
}

&::-webkit-scrollbar-track {
    background-color: transparent;
}
}
