/* --------------global------------------
body {
    margin: 0;
    line-height: normal;
  }
  
  .popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
  }
  
  :root {
    --h4: Roboto;
  
    --font-size-smi: 13px;
    --h4-size: 34px;
    --subtitle-1-size: 16px;
    --subtitle-2-size: 14px;
    --h6-size: 20px;
    --subtitle-2: Roboto;

    --color-gray-100: rgba(255, 255, 255, 0);
    --color-gray-200: rgba(0, 0, 0, 0);
    --neutrals1: #d9d9d9;
    --primary: #ff4800;
    --accent: #ffb600;
    --neutrals2: #000;
    --basecolor-white: #fff;
    --color-lightcyan: #ccfaf2;
  
    --br-mini: 15px;
    --br-xl: 20px;
    --br-81xl: 100px;

  }
  
-----------------global--------------- */

.HamburgerIcon {
  position: relative;
  top: 621px;
  left: 284px;
  width: 68px;
  height: 68px;
  opacity: 1;
  transition: opacity 0.3s ;
}

.HamburgerIcon.hidden {
  opacity: 0;
}
/* --------------------------------------- */
.sub-background,
.main-background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--accent);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  width: 120px;
  height: 60px;
}

.main-background {
  background-color: var(--basecolor-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 55px;
}

/* --------------------------------------- */
.popuplist-post {
  position: relative;
  width: 125px;
  height: 60px;
  font-size: var(--subtitle-2-size);
  font-style: var(--subtitle-2);
}

.popuplist-tutor {
  position: relative;
  width: 125px;
  height: 60px;
  font-size: var(--subtitle-2-size);
  font-style: var(--subtitle-2);
}

.popuplist-close {
  position: relative;
  width: 125px;
  height: 60px;
  font-size: var(--subtitle-2-size);
  font-style: var(--subtitle-2);
}

.group-parent {
  position: fixed;
  padding: 10px;
  gap: 36px;
  width: 145px;
  height: 272px;
}
.frame-parent, .group-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  position: relative;
  background-color: transparent;
  width: 145px;
  height: 272px;
  text-align: center;
  top: 346px;
  left: 360px;
  /* left origin 212px */
  overflow: hidden;
  transition: left 0.3s ease-in-out;
  scale: 0;
}


/* --------------------------------------- */

/* --------------------------------------- */
.createpost {
  position: absolute;
  top: 0;
  left: 62px;
  height: 68px;
}
.postcontent {
  position: absolute;
  height: 13px;
  width: 60px;
  top: 33.33%;
  left: calc(50% - 61.5px);
  display: inline-block;
}
/* --------------------------------------- */
.tutoring {
  position: absolute;
  top: 0;
  left: 62px;
  height: 68px;
}
.tutorcontent {
  position: absolute;
  height: 13px;
  width: 60px;
  top: 33.33%;
  left: calc(50% - 57.5px);
  display: inline-block;
}
/* --------------------------------------- */
.close {
  position: absolute;
  top: 0;
  left: 62px;
  height: 68px;
}
.closecontent {
  position: absolute;
  height: 13px;
  width: 60px;
  top: 33.33%;
  left: calc(50% - 57.5px);
  display: inline-block;
}
/* --------------------------------------- */

.postcontent,
.tutorcontent {
  color: black;
}

.popuplist-close,
.popuplist-tutor,
.popuplist-post,
.clickHamburger:hover{
  cursor: pointer;
}
