
.frame-child {
  position: relative;
  top: 120px;
  border-radius: 10px;
  background-color: var(--basecolor-white);
  border: 3px solid var(--accent);
  box-sizing: border-box;
  min-width: 313px;
  min-height: 1230px;
  font-size: var(--subtitle-1-size);
}

.create-button {
  position: absolute;
  text-transform: uppercase;
  display: inline-block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--br-8xs);
  background-color: var(--accent);
  cursor: pointer;
}

.button-cancle {
  position: absolute;
  text-transform: uppercase;
  display: inline-block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--br-8xs);
  background-color: var(--neutrals1);
  cursor: pointer;
}

.group-item,
.rectangle-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 136.45px;
  height: 48px;
}

.group-item {
  border-radius: var(--br-8xs);
  background-color: var(--neutrals1);
}

.rectangle-container {
  position: relative;
  top: 0px;
  left: 150.55px;
  width: 136.45px;
  height: 48px;
}

.create-cancle {
  position: relative;
  top: 240px;
  left: 13px;
  width: 292px;
  height: 49px;
  text-align: center;
  font-size: var(--subtitle-1-size);
}
.PicUpload {
  position: absolute;
  top: 12.5px;
  left: 35px;
  border-radius: var(--br-8xs);
  background-color: var(--neutrals1);
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-child {
  border-radius: var(--br-8xs);
  background-color: var(--accent);
  width: 136.45px;
  height: 48px;
}

.div2 {
  position: absolute;
  top: 20%;
  left: 0;
  text-transform: capitalize;
}
.div3,
.group-inner,
.textfields {
  position: absolute;
  top: 30px;
  left: 23px;
  width: 290px;
  height: 86px;
}
.div3,
.group-inner {
  left: 6px;
}
.div3,
.group-inner {
  height: 100%;
  width: 100%;
  left: 0;
}
.group-inner {
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  /* background-color: var(--neutrals1); */
  border: 1px solid var(--neutrals2);
  box-sizing: border-box;
  overflow: hidden;
}

.div3 {
  background-color:transparent;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  cursor: pointer;
  top: 0;
}
.div3:hover {
  background-color: var(--accent);
  border-radius: 50%;
  width: 38px;
  height: 38px;
}
.div3.select {
  background-color: var(--accent);
  border-radius: 50%;
  border: 1px solid var(--neutrals2);
  width: 36px;
  height: 36px;
}
.div3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ellipse-parent {
  position: relative;
  width: 38px;
  height: 38px;
  top: 10px;
}

.frame-div {
  position: relative;
  top: 70px;
  display: flex;
  height: 0;
  width: fit-content;
  right: 0;
  bottom: 0;
  left: 11.25px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  text-align: center;
  font-size: var(--h6-size);
}

.date-select {
  position: absolute;
  top: 96px;
  left: 12px;
  width: 290px;
  height: 86px;
}

.name {
  position: absolute;
}

.star{
  position: relative;
  left: 1px;
  color: red;
  font-size: var(--font-size-xs);
}

.textfields-child {
  position: absolute;
  height: 70.59%;
  width: 100%;
  top: 29.41%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  border: 1px solid var(--neutrals2);
  box-sizing: border-box;
}
.textfields1 {
  position: relative;
  top: 0;
  left: 0;
  width: 162px;
  height: 86.13px;
}

.textfields-parent {
  position: relative;
  top: 0;
  left: 0;
  width: 162px;
  height: 100px;
}

.p {
  margin: 0;
}

.member {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 86px;
}

.time-member {
  position: relative;
  top: 140px;
  left: 21.5px;
  width: 270px;
  height: 130px;
}

.requairment {
  height: 30px;
  width: 100px;
  bottom: 10px;
  position: absolute;
  left: 170px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: var(--font-size-xs);
}

.first2 {
  top: 25px;
  font-size: var(--subtitle-1-size);
  color: var(--neutrals2);

}

.detail-text {
  top: 25px;
  font-size: var(--subtitle-1-size);
  color: var(--neutrals2);
  max-width: 270px;
  max-height: 110px;
  min-width: 270px;
  min-height: 110px;
  box-sizing: border-box;
  font-family: var(--h4);
}
/* ------------------------------------------------------ */
.hobby-name {
  position: relative;
  top: 16px;
  left: 21.5px;
  width: 270px;
  height: 68px;
  overflow: hidden;
}

.hobby-name input {
  position: relative;
  padding: 10px; /* Adjust the padding as needed */
  margin: 0; /* Adjust the margin as needed */
  width: 270px;
  height: 48px;
  overflow: hidden;
  top: 20px;
}

.day-select {
  position: relative;
}

.member input {
  position: relative;
  padding: 10px; /* Adjust the padding as needed */
  margin: 0; /* Adjust the margin as needed */
  overflow: hidden;
  text-align: center;
}

.location input {
  position: relative;
  padding: 10px; /* Adjust the padding as needed */
  margin: 0; /* Adjust the margin as needed */
  overflow: hidden;
}

.detail textarea {
  position: relative;
  padding: 10px; /* Adjust the padding as needed */
  margin: 0; /* Adjust the margin as needed */
  overflow: hidden;
}

.detail textarea::placeholder {
  color: var(--neutrals1);
}

.hobby-name input::placeholder,
.member input::placeholder,
.location input::placeholder {
  color: var(--neutrals1);
}
/* ------------------------------------------------------ */

.location {
  position: relative;
  top: 150px;
  left: 21.5px;
  width: 270px;
  height: 68px;
}

.textarea-child {
  height: 82.76%;
  width: 100%;
  top: 17.24%;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid var(--neutrals2);
  box-sizing: border-box;
  display: none;
  
}

.textarea,
.textarea-child {
  position: absolute;
  border-radius: var(--br-8xs);
}
.textarea {
  top: 0;
  left: 0;
  width: 268.89px;
  height: 21px;
  color: var(--neutrals2);
}

.detail {
  position: relative;
  top: 185px;
  left: 21.5px;
  width: 270px;
  height: 160px;
}
.group-child8 {
  position: absolute;
  top: 32px;
  left: 0;
  border-radius: var(--br-8xs);
  border: 1px solid var(--neutrals2);
  box-sizing: border-box;
  width: 270px;
  height: 225px;
}
.vector-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  z-index: 0;
}
.div12 {
  position: absolute;
  height: 6.27%;
  width: 39.78%;
  top: 0;
  left: 0;
  text-transform: capitalize;
  display: inline-block;
}
.group-child9,
.PicUpload-frame {
  position: relative;
  top: 190px;
  left: 21.5px;
  width: 270px;
  height: 255px;
}
.group-child9 {
  top: 0;
  left: 0;
  border-radius: 25px;
  background-color: var(--neutrals1);
  box-shadow: 3px 5px 0 rgba(0, 0, 0, 0.25);
  width: 118px;
  height: 30px;
}
.add-tag {
  position: absolute;
  top: 8px;
  left: 45px;
  font-size: 16px;
  display: inline;
  width: 70px;
  height: 16px;
}
.vector-icon1 {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 13.33%;
  right: 73.73%;
  bottom: 14.3%;
  left: 9.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-child10,
.rectangle-parent2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 118px;
  height: 30px;
  padding: 3px;
  padding-left: 1px;
}

.rectangle-parent2 {
  cursor: pointer;
}
.group-child10 {
  top: 45%;
  left: 5px;
  border-radius: var(--br-8xs);
  border: 1px solid var(--neutrals2);
  box-sizing: border-box;
  width: 270px;
  height: 174px;
}
.add-tag-frame {
  position: relative;
  top: 150px;
  left: 18px;
  width: 275px;
  height: 221px;
}
.tag_detail {
  position: relative;
  top: 120px;
  left: 11px;
}
.main-frame {
  position: absolute;
  height: 1300px;
  display: grid;
  justify-items: center;
  width: 100%;
  top: 14%;
  right: 6.67%;
  bottom: -67.87%;
  left: 6.39%;
  font-family: var(--subtitle-2-size);
  font-size: var(--subtitle-2-size);
}

.background-hobbycreate {
  position: absolute;
  display: grid;
  justify-items: center;
  width: 100%;
  height: 100vh;
  min-width: 360px;
  min-height: 1400px;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
  color: var(--neutrals2);
  background: linear-gradient(180deg, #f89603, #f86a03 56.25%, #f85b03);
  &::-webkit-scrollbar {
    width: 0;
}

/* Optional: Customize scrollbar appearance if needed */
&::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0; /* You can adjust this if needed */
}

&::-webkit-scrollbar-track {
    background-color: transparent;
}
}

#image {
  display: none;
}

.PicUpload {
  cursor: pointer;
}
/* ----------------------------------------------------------------------------------------- */
#preview {
  max-width: 200px;
  max-height: 200px;
  z-index: 1;
}

.tagShow {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: left;
  outline-width: 1.3px;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: transparent;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
}

.div17 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  left: 5px;
  margin-right: 5px;
  border-radius: 25px;
  padding-inline: 15px;
  background-color: var(--accent);
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.25);
  width: fit-content;
  max-width: 230px;
  min-height: 25px;
  height: fit-content;
  margin-bottom: 5px;
  text-align: center;
  /* text-overflow: ellipsis; */
  /* overflow: hidden; */
}

.div18 {
  position: relative;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  top: 5px;
  left: 5px;
  margin-right: 5px;
  border-radius: 25px;
  padding-inline: 15px;
  background-color: var(--accent);
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.25);
  width: fit-content;
  max-width: 230px;
  height: fit-content;
  margin-bottom: 5px;
  text-align: center;
  text-justify: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
}

.HEADER-HCP {
  top: 0;
  left: 0;
  width: 100%;
  min-width: 360px;
  position: fixed;
  z-index: 5;
  height: 92px;
  background-color: var(--primary);
  border-radius: 0 0 var(--br-mini) var(--br-mini);
  box-shadow: 4px 2px 3px rgba(0, 0, 0, 0.25);
}

.app-icon-hobby-create {
position: absolute;
}
.app-icon-hobby-create {
  top: 37px;
  left: 30px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  cursor: pointer;
}

.name-header-hobby-create {
  position: absolute;
  top: 25px;
  left: 75px;
  display: inline-block;
  width: 200px;
  height: 40px;
  text-shadow: 2.5px 5px 0 rgba(0, 0, 0, 0.25);
  color: var(--neutrals1);
  -webkit-text-stroke: 1px var(--neutrals1);
  font-size: 34px;
}

.noti-button-icon-hobby-create {
  position: absolute;
  top: 25px;
  right: 5%;
}
.noti-button-icon-hobby-create a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--neutrals1);
  background: var(--accent);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  box-shadow: 3px 5px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
  font-size: .8em;
  cursor: pointer;
}