.group-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary);
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.25);
    width: 360px;
    height: 140px;
}

.header-text {
    position: absolute;
    top: 40px;
    left: 25px;
    display: inline-block;
    width: 280px;
    height: 30px;
    color: var(--neutrals1);
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);
    font-size: var(--h5-size);
    font-family: "roboto",sans-serif;
}

.back-button {
    position: absolute;
    height: 20.57%;
    width: 8.33%;
    top: 27.66%;
    right: 87.22%;
    bottom: 51.77%;
    left: 4.44%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.noti-button-icon {
    position: absolute;
    top: 37px;
    left: 292px;
    width: 35px;
    height: 35px;
}

.about-group-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 140px;
}

.tdot-button {
    position: absolute;
    top: 0;
    left: 0;
    top: 10px;
    left: 275px;
    width: 36px;
    height: 24px;
}

.group-name {
  position: relative;
  height: 36px;
  font-size: 60px;
  display: inline-block;
  text-align: center;
  width: 280px;
  font-size: var(--h4-size);
  word-break: break-word;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* Add ellipsis for truncated text */
}

.groupNameFrame {
  position: absolute;
  top: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.FrameImage {
  position: absolute;
  top: 96px;
  left: 64px;
  border-radius: 10px;
  outline-style: solid;
  outline-color: var(--color-black);
  outline-width: 1.5px;
  background-color: var(--neutrals1);
  display: flex;
  align-items: center;
  width: 200px;
  height: 200px;
}
.group-picture {
    position: relative;
    max-width: 200px;
    max-height: 200px;
}

.div {
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 5px;
    width: 120px;
    height: 24px;
}

.group-date-title {
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 5px;
    width: 120px;
    height: 24px;
}

  .date {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .ellipse-date {
    position: relative;
    width: 38px;
    height: 38px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: var(--neutrals1);
    border: 1px solid var(--neutrals2);
    box-sizing: border-box;
  }

  .ellipse-date.active {
    background-color: var(--accent);
  }

  .div4 {
    position: absolute;
    display: flex;
  }
  .div4 {
    height: 100%;
    top: 0;
    left: calc(50% - 19px);
    align-items: center;
    justify-content: center;
    width: 38px;
  }

  .group-date-container {
    position: absolute;
    display: flex;
    height: 53.33%;
    width: 96.67%;
    top: 46.67%;
    right: 0;
    bottom: 0;
    left: 3.33%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    text-align: center;
  }

  .group-date {
    position: absolute;
    width: 300px;
    top: 316px;
    left: 8px;
    height: 75px;
    font-size: var(--h6-size);
  }

  .group-location-text {
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    height: 40px;
    font-size: var(--subtitle-1-size);
  }

.group-location-container {
    position: absolute;
    border-radius: 5px;
    background-color: var(--neutrals1);
    position: absolute;
    outline-style: solid;
    outline-color: var(--color-black);
    outline-width: 1.3px;
    top: 32px;
    left: 5px;
    width: 300px;
    height: 50px;
    text-align: center;
}

.group-location-title {
    position: absolute;
    left: 0;
    top: 0;
    font-size: var(--h6-size);
    display: inline-block;
    width: 76px;
    height: 24px;
}

  .div9 {
    position: absolute;
    display: inline-flex;
    top: 5px;
    left: 12px;
    align-items: center;
    width: 66px;
    height: 20px;
  }

  .group-child6,
  .vector-icon1 {
    position: absolute;
    border-radius: var(--br-8xs);
  }
  .group-child6 {
    top: 0;
    left: 0;
    background-color: transparent;
    width: 30px;
    height: 30px;
  }
  .vector-icon1 {
    height: 50%;
    top: 7px;
    right : 7px;
    max-height: 100%;
    width: 15px;
  }

  .rectangle-parent2 {
    position: absolute;
    top: 0;
    left: 166px;
    width: 30px;
    height: 30px;
  }

  .div10 {
    position: absolute;
    top: 5px;
    left: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100px;
    height: 20px;
    color: var(--success);
  }

  .group-member-container {
    position: absolute;
    border-radius: 5px;
    background-color: var(--neutrals1);
    outline-style: solid;
    outline-color: var(--color-black);
    outline-width: 1.3px;
    top: 500px;
    left: 130px;
    width: 182px;
    height: 30px;
  }

  .group-member-text {
    position: relative;
    border-radius: 5px;
    top: 3px;
    left: 5px;
    width: 60px;
    height: 24px;
  }

  .group-member-amount {
    position: absolute;
    top: 3px;
    left: 65px;
    width: 50%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.group-member-amount.availible {
  color: var(--success);
}

.group-member-amount.full {
  color: var(--error);
}

.group-member-max {
  position: absolute;
  border-radius: 5px;
  top: 3px;
  left: 95px;
  width: 70px;
  height: 24px;
}

.group-member-max.availible {
  color: var(--success);
}

.group-member-max.full {
  color: var(--error);
}
.group-child7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: var(--neutrals1);
  width: 100px;
  height: 30px;
}

.group-time-text {
    position: relative;
    display: inline-flex;
    top: 3px;
    left: 7px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 20px;
  }

.group-time-title {
  position: relative;
    display: inline-flex;
    top: 3px;
    left: 5px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 20px;
}
  .group-time-time {
    position: absolute;
    top: 4px;
    left: 55px;
    width: 50px;
    display: flex;
    align-items: center;
    color: var(--primary);
    width: 40px;
    height: 20px;
  }


  .group-time-container {
    position: absolute;
    background-color: var(--neutrals1);
    border-radius: 5px;
    outline-style: solid;
    outline-color: var(--color-black);
    outline-width: 1.3px;
    top: 500px;
    left: 12px;
    width: 110px;
    height: 30px;
  }

  .group-location {
    position: absolute;
    top: 407px;
    left: 8px;
    width: 305px;
    height: 122px;
  }

  .group-description-container {
    position: absolute;
    top: 0;
    left: 1px;
    border-radius: var(--br-8xs);
    background-color: var(--neutrals1);
    outline-style: solid;
    outline-color: var(--color-black);
    outline-width: 1.3px;
    width: 280px;
    height: 115px;
    padding: 10px;
  }
  .div13 {
    position: absolute;
    top: calc(50% - 62.5px);
    left: 5px;
    display: inline-block;
    width: 290px;
    height: 126px;
  }
  .div14,

  .rectangle-parent4 {
    position: absolute;
    top: 32px;
    left: 4px;
    width: 300px;
    height: 135px;
  }

  .div14 {
    top: 0;
    left: 0;
    font-size: var(--h6-size);
    display: inline-block;
    width: 97px;
    height: 24px;
  }

  .group-parent1 {
    position: absolute;
    top: 580px;
    left: 8px;
    width: 304px;
    height: 167px;
  }

  .tag-container {
    position: absolute;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Change to flex-start to align items to the start */
    outline-style: solid;
    outline-color: var(--color-black);
    outline-width: 1.3px;
    top: 55px;
    left: 4px;
    border-radius: 5px;
    background-color: var(--neutrals1);
    width: 300px;
    height: 120px;
  }
  
  .div17 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px; /* Adjust margin to control spacing */
    border-radius: 25px;
    padding-inline: 15px;
    background-color: var(--accent);
    box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.25);
    width: max-content;
    height: 25px;
  }
  

  .frame-inner {
    top: 0;
    left: 0;
    border-radius: var(--br-6xl);
    background-color: var(--accent);
    box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.25);
  }
  .div15,
  .frame-div,
  .frame-inner {
    position: absolute;
    width: 80px;
    height: 25px;
  }
  .div15 {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .frame-div {
    top: calc(50% - 12.5px);
    left: calc(50% - 40px);
  }
  .frame-wrapper {
    position: absolute;
    top: 67px;
    left: calc(50% - 11px);
    width: 90px;
    height: 35px;
  }
  .group-child10 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-6xl);
    background-color: var(--accent);
    box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.25);
    width: 127px;
    height: 25px;
  }
  .div16 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .div16,
  .group-wrapper,
  .rectangle-parent6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 127px;
    height: 25px;
  }
  .group-wrapper {
    top: 5px;
    left: 5px;
  }
  .frame-container,
  .group-child11 {
    position: absolute;
    top: 67px;
    left: 4px;
    width: 137px;
    height: 35px;
  }

  .frame-wrapper1,
  .group-frame,
  .group-wrapper1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 25px;
  }
  
  .frame-wrapper1,
  .group-frame {
    top: 5px;
    left: 5px;
  }
  .group-frame {
    top: 32px;
    left: 4px;
    width: 80px;
    height: 35px;
  }
  .group-child12 {
    position: absolute;
    top: 0;
    left: 0;
  }

  .tag {
    position: absolute;
    font-size: var(--h6-size);
    text-align: left;
    display: inline-block;
    width: 97px;
    height: 24px;
    top: 25px;
    left: 0px;
  }

  .group-child12 {
    border-radius: var(--br-6xl);
    background-color: var(--accent);
    box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.25);
    width: 100px;
    height: 25px;
  }

  .div18 {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .div18,
  .group-wrapper2 {
    position: absolute;
    width: 100px;
    height: 25px;
  }

  .group-wrapper2 {
    top: calc(50% - 12.5px);
    left: calc(50% - 50px);
  }
  .frame-wrapper2,
  .frame-wrapper3 {
    position: absolute;
    width: 110px;
    height: 35px;
  }
  .frame-wrapper2 {
    top: 32px;
    left: 84px;
  }
  .frame-wrapper3 {
    top: calc(50% - 51.5px);
    left: 194px;
  }
  .rectangle-parent5 {
    position: absolute;
    top: 727px;
    left: 8px;
    width: 304px;
    height: 167px;
    text-align: center;
    font-size: var(--subtitle-2-size);
  }

  .body-background {
    position: absolute;
    border-radius: 25px;
    background-color: #fff;
    outline-style: solid;
    outline-color: var(--color-black);
    outline-width: 2px;
    top: 0px;
    left: 15px;
    width: 330px;
    height: 1150px;
  }
  .button-invite {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    background-color: var(--success);
    outline-style: solid;
    outline-color: var(--color-black);
    outline-width: 1.4px;
    width: 180px;
    height: 48px;
    padding-inline: 5px;
  }

  .div20 {
    position: relative;
    top: 15px;
    left: 34px;
    text-transform: uppercase;
    display: inline-block;
    width: 120px;
  }
  .vector-icon2 {
    position: absolute;
    width: 55px;
    height: 32px;
    top: 8px;
    left: 7px;
    max-width: max-content;
    max-height: max-content;
  }
  .rectangle-parent10 {
    position: absolute;
    top: 920px;
    left: 64px;
    width: 179px;
    height: 48px;
    text-align: center;
  }

  .frame-icon {
    position: absolute;
    top: calc(50% - 575.5px);
    left: calc(50% + 120.5px);
    width: 22px;
    height: 6px;
  }

  .about-group-body {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 360px;
    height: 1200px;
    text-align: left;
    font-size: var(--button-size);
    color: var(--neutrals2);
  }
  .hobby {
    position: relative;
    background: linear-gradient(180deg, #f89603, #f86a03 56.25%, #f85b03);
    width: 360px;
    height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    color: var(--neutrals1);
    font-size: var(--subtitle-1-size);
    font-family: "roboto",sans-serif;
        &::-webkit-scrollbar {
      width: 0;
  }
  
  }
  