.box {
    max-width: 360px;
    width: 100%;
    /* background: red; */
    
}

.box .search-box {
    position: relative;
    height: 40px;
    left: 30px;
    margin-top: 35%;
    max-width: 302px;
    /* background: green; */
    /* margin: auto; */
    /* box-shadow: 0 5px 1px rgba(0, 0, 0, 0.25); */
}

.search-box input {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background: #fff;
    outline: none;
    border: 1px solid #000;
    padding-left: 20px;
    padding-right: 40px;
    font-size: 15px;
}
.search-box .search-icon {
    position: absolute;
    right: 13px;
    top: 0px;
    width: 20px;
    height: 20px;
    /* background-color: var(--primary); */
    height: 100%;
    text-align: center;
    line-height: 44px;
    border-radius: 20px;
}

.content-hobby-home {
    background: #000;
    max-width: 360px;
    margin-top: 5%;
    width: 100%;
    height: 616px;

}
.content-hobby-home .text {
    position: absolute;
    color: #fff;
    left: 30px;
    /* display: inline-block; */
    width: 140px;
    height: 30px;
    font-size: 25px;
    text-shadow: 1px 0 0#d9d9d9, 0 1px 0#d9d9d9, -1px 0 0#d9d9d9, 0-1px 0#d9d9d9;
}

.content-hobby-home .tag-list {
    display:  flex;
    flex-wrap: wrap;
    margin: 12px 0;
    padding: 40px 0px 5px 10px;
}

.content-hobby-home .tag-list li {
    display: flex;
    list-style: none;
    margin: 10px 5px 10px;
    background: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
    font-size: 20px;
    align-items: center;
}
.content-hobby-home .tag-list li ion-icon{
    display: block;
    position: relative;
    top: 0;
    height: 25px;
    width: 25px;
    background: #000;
    border-radius: 50%;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    justify-content: center;
    cursor: pointer;
}