@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #000;
    --first-color: #2e2e41;
    --secound-color: #5b85ff;
    --third-color: #434354;
    --text-color: #fff;
    --neutrals1: #d9d9d9;
    --accent: #ffb600;

    --box-shadow: 0 5px 25px rgb(2, 2, 2, 0.1);
    --text-shadow: 0 5px 25px rgb(2, 2, 2, 0.1);
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

} */

body {
    background: var(--first-color);
}

section {
    position: relative;
    /* margin: 0 80px; */
    transition: 0.5s ease;
    /* width: 360px; */
    width: 100%;
}

.main-container-scrollBar {
    position: absolute;
    top: 5%;
    top: 70px;
    height: 80px;
    display: flex;
    align-items: end;
    background-color: #fff;
    width: 100%;
    max-width: 100vw;
    overflow: auto;
}

.tab-nav-bar {
    position: relative;
    /* margin: 65px 10px 40px 10px; */
    background-color: #fff;
}

.tab-navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto;
}

.tab-menu {
    color: var(--text-color);
    list-style: none;
    /* background: var(--third-color); */
    background: transparent;
    max-width: 800px;
    padding: 10px;
    white-space: nowrap;
    /* border-bottom: 1px solid var(--third-color); */
    /* border-radius: 50px; */
    /* box-shadow: var(--box-shadow); */
    overflow-x: auto;
    user-select: none;
    scroll-behavior: smooth;
    line-height: 26.8px;
}

.tab-menu.dragging {
    scroll-behavior: unset;
    cursor: grab;
}

.tab-menu::-webkit-scrollbar {
    display: none;
}

.tab-btn {
    color: var(--black);
    /*old*/
    display: inline-block;
    /*new*/
    /* display: inline-flex;
    justify-content: center;
    align-items: center; */
    /**/
    font-size: 16px;
    font-weight: bold;
    margin: 0 2px;
    /* padding: 3.1px 20px; */
    padding: 3.1px 20px 3.1px 10px;
    border-radius: 30px;
    background: var(--neutrals1);
    cursor: pointer;
    user-select: none;
}

.tab-menu.dragging .tab-btn {
    pointer-events: none;
}

/* .tab-btn.active {
    background: var(--secound-color);
} */

.left, .right {
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    padding: 10px;
    cursor: pointer;
}

.left {
    left: 0;
    background: linear-gradient(to left, transparent, var(--first-color) 80%);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: none;
    
}

.right {
    right: 0;
    background: linear-gradient(to right, transparent, var(--first-color) 80%);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.tab-btn-circle {
    position: relative;
    top: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}

.tab-btn.active .tab-btn-circle {
    background: var(--accent);
}




