.list-frame {
    position: relative;
    background-color: var(--basecolor-white);
    width: 360px;
    height: 800px;
    overflow: scroll;
    text-align: left;
    font-family: var(--subtitle-1);
    font-size: var(--subtitle-1-size);
    color: var(--color-black);
    overflow-x: hidden;
}

.status-bar {
    position: absolute;
    width: 360px;
    height: 24px;
}

.about-group-header {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: var(--primary);
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.4);
    width: 360px;
    height: 110px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.header-text {
    position: absolute;
    display: inline-block;
    top: 35px;
    left: 55px;
    width: 280px;
    height: 30px;
    color: var(--neutrals1);
    text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.3);
    font-size: var(--h4-size);
    font-family: "roboto",sans-serif;
}

.back-button {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 45px;
    left: 10px;
}

.list-inner {
    position: relative;
    border-radius: 10px;
    background-color: var(--basecolor-white);
    padding-inline: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    outline-style: solid;
    outline-color: var(--color-black);
    outline-width: 1.3px;
    width: 300px;
    height: auto;
    min-height: 600px;
    top: 50px;
    left: 25px;
    cursor: default;
    margin-bottom: 100px;
}

.list-inner-head {
    position: relative;
    border-radius: 20px;
    padding-inline: 5px;
    width: calc(100% - 10px);
    height: 70px;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.list-inner-body {
    position: relative;
    border-radius: 20px;
    padding-inline: 5px;
    width: calc(100% - 10px);
    height: fit-content;
    top: 0px;
    left: 0px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.title-group {
    position: relative;
    display: inline;
    width: 300px;
    height: 70px;
    justify-content: center;
    text-align: center;
}

.title {
    position: relative;
    display: inline;
    grid-column-end: 3;
    width: 310px;
    height: 15px;
    top: 10px;
    padding-inline: 5px;
    font-size: var(--h4-size);
}


.group-amount {
    position: absolute;
    display: none;
    top: 50px;
    right: 15px;
    color: var(--accent);
    font-size: var(--h6-size);
    width: max-content;
    height: max-content;
}

.group-amount.full {
    color: var(--error);
}

.group-amount.available {
    color: var(--success);
}

.group-name {
    position: absolute;
    display: inline-block;
    height: max-content;
    width: max-content;
    top: 20px;
    left: 25px;
    color: var(--color-black);
    font-family: 'Roboto', sans-serif;
    font-size: var(--h6-size);
}

.leader {
    position: relative;
    display: flex;
    width: 140px;
    height: 100%;
    justify-content: left;
    align-items: center;
    left: 0;
}

.member {
    position: relative;
    display: flex;
    width: 140px;
    height: 100%;
    justify-content: left;
    align-items: center;
    left: 0;
}

.leader-icon {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 70px;
    top: 0px;
    left: 0px;
    text-align: center;
}


.info-icon {
    position: relative;
    display: grid;
    height: 100%;
    width: 80px;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-items: center;
}

.me-icon {
    position: relative;
    display: grid;
    height: 100%;
    width: 80px;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-items: center;
}

.group {
  position: absolute;
  height: 81.63%;
  width: 96.72%;
  top: 8.16%;
  right: 0;
  bottom: 10.2%;
  left: 3.28%;
}

.list-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 30px; 
    margin-bottom: 5px;
}

.list-member {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 30px; 
    margin-bottom: 5px;
}

.list.padding
{
    margin-bottom: 50px;
}
