@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');

body {
  margin: 0 auto;
  line-height: normal;
  background: #000000;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

:root {
  /* fonts */
  --h4: Roboto;
  --subtitle-1: Roboto;
  --subtitle-2: Roboto;

  /* font sizes */
  --font-size-smi: 13px;
  --body-2-size: 16px;
  --caption-size: 14px;
  --overline-size: 10px;
  --h6-size: 20px;
  --h5-size: 24px;
  --h4-size: 34px;
  --h3-size: 48px;
  --h2-size: 60px;
  --h1-size: 96px;
  --font-size-xs: 12px;
  --subtitle-1-size: 16px;
  --subtitle-2-size: 14px;

  /* Colors */
  --basecolor-white: #fff;
  --color-gray-100: rgba(255, 255, 255, 0);
  --color-gray-200: rgba(0, 0, 0, 0);
  --neutrals1: #d9d9d9;
  --neutrals2: #000;
  --accent: #ffb600;
  --color-orange-100: rgba(255, 182, 0, 0);
  --primary: #ff4800;
  --color-black: #000;
  --color-gainsboro: #d9d9d9;

  --error: #ff0101;
  --color-orange: #ffb600;
  --secordary: #ff8500;
  --success: #7cb518;

  /* Border radiuses */
  --br-xl: 20px;
  --br-mini: 15px;
  --br-8xs: 5px;
  --br-5xs: 8px;
  --br-11xl: 30px;
  --br-6xl: 25px;

  --padding-2xs: 11px;
  --padding-lg: 18px;
}

/* ===================================================={ Header NOtify }==================================================================== */

.header-notify {
  top: 0;
  left: 0;
  min-width: 360px;
  width: 100%;

}

.header-notify {
  /* border-radius: 0 0 var(--br-mini) var(--br-mini); */
  background-color: var(--primary);
  box-shadow: 0px 5px 0 rgba(0, 0, 0, 0.25);
  height: 103px;
  text-align: left;
  font-family: var(--h4);
  font-size: var(--h4-size);
}

.header-notify,
.name-header-notify {
  position: relative;
}

.name-header-notify {
  top: 27px;
  left: 72px;
  display: inline-block;
  width: 200px;
  height: 40px;
  text-shadow: 2.5px 5px 0 rgba(0, 0, 0, 0.25);
  color: var(--neutrals1);
  -webkit-text-stroke: 1px var(--neutrals1);
}

.backBtnNotify {
  position: absolute;
  top: 36px;
  left: 16px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/* ===================================================={ NOtify Frame }==================================================================== */

.NotifyFrame {
  background: var(--Backguard-1, linear-gradient(180deg, #F89603 0%, #F86A03 56.25%, #F85B03 100%));
  /* background: var(--basecolor-white); */
  min-width: 360px;
  width: 100%;
  min-height: 800px;
  height: 100vh;
  overflow: hidden;
}

/* ===================================================={ NOtify List Frame }==================================================================== */

.NotifyListFrame {
  position: relative;
  /* top: 15%; */
  top: 10px;
  width: 100%;
  max-height: 650px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  /* background: #d9d9d9; */
  scroll-behavior: smooth;
}

.NotifyListFrame .NotifyList {
  position: relative;
  /* width: 360px; */
  width: 100%;
  height: 76px;
  background: var(--primary);
  /* border-bottom: 1px solid #000; */
  /* border-top: 1px solid #000; */
  margin: 0 0 1px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.NotifyListFrame .imgNotify {
  background: #d9d9d9;
  margin-left: 15px;
  border-radius: 50%;
  width: 56px;
  height: 56px;
}
.imgNotify .iNot {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 2;
}
.imgNotify .profileImage {
  position: absolute;
  /* top: 40px;
  left: 40px; */
  border-radius: 50%;
  width: 56px;
  height: 56px;
  margin-left: 0px;
}

.NotifyListFrame .NotifyLable {
  /* background: #858585; */
  width: 70%;
  height: 100%;
  position: relative;
  left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  
}

.NotifyLable .spancontent {
  position: absolute;
  top: 5px;
  padding-top: 10px;
  color: var(--color-black);
  font-size: 16px;
  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  overflow: hidden;
}

.NotifyLable .spanNotiTime {
  position: absolute;
  top: 60px;
  padding-bottom: 5px;
  color: var(--basecolor-white);
  font-size: 10px;
  
}

@media screen and (min-height: 850px) {
  .NotifyListFrame {
    max-height: 700px;
  }
}
@media screen and (min-height: 900px) {
  .NotifyListFrame {
    max-height: 760px;
  }
}
@media screen and (min-height: 920px) {
  .NotifyListFrame {
    max-height: 800px;
  }
}
@media screen and (min-height: 950px) {
  .NotifyListFrame {
    max-height: 830px;
  }
}
@media screen and (min-height: 1000px) {
  .NotifyListFrame {
    max-height: 850px;
  }
}



@media screen and (min-width: 360px) {

}
@media screen and (min-width: 390px) {
  /* .setting-item {
    left: 50px;
  } */
  .name-header-notify {
    left: 115px;
  }
  /* .noti-button-icon-setting {
    left: 312px;  
  } */
}
@media screen and (min-width: 430px) {
  /* .setting-item {
    left: 65px;
  } */
  .name-header-notify {
    left: 135px;
  }
  /* .noti-button-icon-setting {
    left: 327px;  
  } */
}
@media screen and (min-width: 480px) {
  /* .setting-item {
    left: 85px;
  } */
  .name-header-notify {
    left: 155px;
  }
  /* .noti-button-icon-setting {
    left: 347px;  
  } */
}
@media screen and (min-width: 520px) {
  /* .setting-item {
    left: 115px;
  } */
  .name-header-notify {
    left: 175px;
  }
  /* .noti-button-icon-setting {
    left: 377px;  
  } */
}
@media screen and (min-width: 560px) {
  /* .setting-item {
    left: 125px;
  } */
  .name-header-notify {
    left: 195px;
  }
  /* .noti-button-icon-setting {
    left: 387px;  
  } */
}
@media screen and (min-width: 600px) {
  /* .setting-item {
    left: 155px;
  } */
  .name-header-notify {
    left: 215px;
  }
  /* .noti-button-icon-setting {
    left: 417px;  
  } */
}
@media screen and (min-width: 641px) {
  /* .setting-item {
    left: 175px;
  } */
  .name-header-notify {
    left: 235px;
  }
  /* .noti-button-icon-setting {
    left: 437px;  
  } */
}
@media screen and (min-width: 700px) {
  /* .setting-item {
    left: 205px;
  } */
  .name-header-notify {
    left: 270px;
  }
  /* .noti-button-icon-setting {
    left: 467px;  
  } */
}
@media screen and (min-width: 740px) {
  /* .setting-item {
    left: 235px;
  } */
  .name-header-notify {
    left: 295px;
  }
  /* .noti-button-icon-setting {
    left: 497px;  
  } */
}
@media screen and (min-width: 800px) {
  /* .setting-item {
    left: 265px;
  } */
  .name-header-notify {
    left: 320px;
  }
  /* .noti-button-icon-setting {
    left: 527px;  
  } */
}
@media screen and (min-width: 850px) {
  /* .setting-item {
    left: 285px;
  } */
  .name-header-notify {
    left: 340px;
  }
  /* .noti-button-icon-setting {
    left: 547px;  
  } */
}