/* .main-frame {
    position: relative;
    top: 105px;
    left: 23px;
    width: 313px;
    height: 970px;
    font-size: var(--subtitle-2-size);
    color: var(--neutrals2);
    overflow: hidden;
  }

.background {
    position: absolute;
    background: linear-gradient(180deg, #f89603, #f86a03 56.25%, #f85b03);
    width: 360px;
    height: 800px;
    left: 40%;
    top: 40px;
    overflow-y: auto;
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-gray);
    font-family: var(--subtitle-2);

    &::-webkit-scrollbar {
        width: 0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 0; 
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

.time-member {
  position: absolute;
  top: 226px;
  left: 4px;
  width: 292px;
  height: 100px;
}

.textfields2 {
    position: absolute;
    top: 0;
    left: 15.35px;
    width: 136.65px;
    height: 86.13px;
}

.textfields-child {
    position: absolute;
    height: 70.59%;
    width: 100%;
    top: 29.41%;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-8xs);
    border: 1px solid var(--neutrals2);
    box-sizing: border-box;
    background: var(--basecolor-white);

} */
/* ------------------------------------------------------------------------------------ */

.time-pickable {
    position: absolute;
    border: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
    border-radius: var(--br-8xs);
    text-align: center;
    font-size: var(--h4-size);
    cursor: pointer;
    font-family: var(--h4);
    display: flex;
    align-items: center;
    justify-content: center;
  }

.hour {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    border-radius: var(--br-8xs);
}

.minute {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    border-radius: var(--br-8xs);
}

.colon {
    width: 10%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 7px;
}

.hour.hidden,
.minute.hidden {
    background-color: transparent;
}

.dropdown-hour.hidden,
.dropdown-minute.hidden {
    display: none;
}

.hour.hidden:hover,
.minute.hidden:hover {
    background-color: #d9d9d9;
}

.dropdown-hour {
    position: absolute;
    top: 55px;
    left: 10px; 
    z-index: 1;
}

.dropdown-minute {
    position: absolute;
    top: 55px;
    left: 74px; 
    z-index: 1;
}

#HourDropdown,
#MinuteDropdown {
    width: 50px;
    border-radius: var(--br-8xs);
    border-color: var(--neutrals2);
}

#HourDropdown option:hover,
#MinuteDropdown option:hover {
    background-color: var(--neutrals1);
}

#HourDropdown option,
#MinuteDropdown option {
    padding: 10px; 
    font-size: var(--subtitle-2-size);
    font-family: var(--subtitle-2);
    border-color: var(--neutrals2);
    text-align: center;
}

#HourDropdown:focus,
#MinuteDropdown:focus {
    outline: none; 
    border-color: var(--neutrals2);
}

#HourDropdown::-webkit-scrollbar,
#MinuteDropdown::-webkit-scrollbar {
    width: 3px; /* Set the width of the scrollbar */
}

#HourDropdown::-webkit-scrollbar-thumb,
#MinuteDropdown::-webkit-scrollbar-thumb {
    background-color: var(--neutrals1); 
    border-radius: 10px; 
}

select option:checked {
    background-color: var(--accent);
    color: var(--neutrals2);
}

