.main-frame {
    position: relative;
    top: 105px;
    left: 23px;
    width: 313px;
    height: 970px;
    font-size: var(--subtitle-2-size);
    color: var(--neutrals2);
    overflow: hidden;
  }

.background {
    position: absolute;
    background: linear-gradient(180deg, #f89603, #f86a03 56.25%, #f85b03);
    width: 360px;
    height: 800px;
    left: 40%;
    top: 40px;
    overflow-y: auto;
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-gray);
    font-family: var(--subtitle-2);

    /* Hide the scrollbar for WebKit browsers (Chrome, Safari, etc.) */
    &::-webkit-scrollbar {
        width: 0;
    }

    /* Optional: Customize scrollbar appearance if needed */
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 0; /* You can adjust this if needed */
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

.textfields-child {
    position: absolute;
    height: 70.59%;
    width: 100%;
    top: 29.41%;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-8xs);
    border: 1px solid var(--neutrals2);
    box-sizing: border-box;
}

.date-month-year-border {
    position: absolute;
    top: 0;
    left: 19px;
    width: 278px;
    height: 86px;
}

.date-month-year {
    position: absolute;
    top: 120px;
    left: -3px;
    width: 314px;
    height: 106px;
}

/* ------------------------------------------------------------------------------------ */

.date-picker {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--basecolor-white);
    border-radius: var(--br-8xs);
    cursor: pointer;
    user-select: none;
    z-index: 100; 
}


.date-picker:hover {
    background-color: var(--neutrals1);

}

.day:hover {
    background-color: var(--neutrals1);
    border-radius: 50%;
    max-width: 39px;
    max-height: 39px;
}

.date-picker .selected-date {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--h4-size);
    color: black;
}

.date-picker .dates {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--basecolor-white);
}

.date-picker .dates.active {
	display: block;
    border: 1px solid var(--neutrals2);
    border-radius: var(--br-8xs);
    overflow: hidden;
}

.date-picker .dates .month {
    position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #EEE;
    width: 100%;
    left: 0;
    height: 60px;
}

.date-picker .dates .month .arrows {
	width: 35px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #313131;
	font-size: 20px;
}

.date-picker .dates .month .arrows:hover {
	background-color: #F3F3F3;
}

.date-picker .dates .month .arrows:active {
	background-color: var(--accent);
}

.date-picker .dates .days {
	display: grid;
    grid-template-columns: repeat(7, 1fr);	
    height: 200px;
}
.date-picker .dates .days .day { 
    position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #313131;
    width: 100%;
    height: 100%;
}
.date-picker .dates .days .day.selected {
	background-color: var(--accent);
    border-radius: 50%;
    max-width: 39px;
    max-height: 39px;
}

.days {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}